body {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container {
  -webkit-perspective: 500px;
          perspective: 500px;
}

.box {
  width: 100px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#box1 {
  background: #d81670;
  -webkit-transform: rotateX(40deg) translateX(400px);
          transform: rotateX(40deg) translateX(400px);
}
