#viewport {
  perspective: 1000px;
}

#cube {
  /* We don't really need a transformation here, but transform and transform-style should go together */
  transform: rotateX(0deg);
  transform-style: preserve-3d;
  position: relative;
}

.face {
  width: 200px;
  height: 200px;
  opacity: .5;
  position: absolute;  /* so that the faces can stack up on top of each other */
}
